.mainleft {
  padding: 0.5em 1em 0 1em;
  height: 100vh;
  flex: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border-right: 0.5px solid #eff2fc; */
}

/* .mainleft__logo {
  margin-top: 0.25em;
  position: relative;
  font-family: "Pattaya", sans-serif;
  letter-spacing: 2px;
  color: var(--accent-blue);
  margin-bottom: 0.75em;
  align-self: flex-start;
  margin-left: 0.1em;
} */
.mainleft__logo__img {
  position: absolute;
  top: -10px;
  left: 50px;
  width: 30px;
  height: 30px;
}
/* .mainleft__logo__img > img {
  width: 40px;
  height: 40px;
} */
.mainleft__logo > span {
  font-weight: 400;
  /* text-decoration: underline; */
}

@media screen and (max-width: 998px) {
  .mainleft {
    flex-direction: row;
    margin-top: 5em;
  }
}
