.tweetform {
  margin: 0 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
}

.tweetform__top {
  display: flex;
}
.tweetform__inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tweetform__inputs > textarea {
  overflow: hidden;
  resize: none !important;
  margin-left: 0.5em;
  padding: 0.5em 0.25em;
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
}

.tweetform__img {
  align-self: flex-start;
  resize: none;
  width: 100%;
  margin-left: 1.75em;
  padding: 0.5em 0.25em;
  width: 100%;
  font-size: 0.85rem !important;
  background-color: transparent;
  outline: none;
  color: var(--text-grey);
}
.tweetform__bottom {
  width: 90%;
  align-self: flex-end;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tweetform__bottom__icons {
  color: var(--accent-blue);
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.tweetform__bottom__btn {
  cursor: pointer;
  padding: 0.75em;
  border-radius: 30px;
  color: white;
  width: 5em;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: var(--accent-blue);
  box-shadow: 0px 8px 15px #eff2fc;
}
.tweet-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: transparent;
}
.tweet-icons:hover {
  background-color: #eff2fc;
}

.tweetform__input__img {
  width: 80%;
  margin-right: 0.5em;
  border: 2px solid var(--accent-blue);
  border-radius: 5px;
  padding: 0.25em;
}
.tweetform__upload__btn {
  padding: 0.5em;
  border-radius: 5px;
  background-color: #00ab66;
  color: #fff;
}
.tweetform__input__img::-webkit-file-upload-button {
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--accent-blue);
  border-radius: 5px;
  padding: 0.5em;
}

.tweetform__bottom__btns {
  display: flex;
  align-items: center;
}

.uploader__icon {
  padding: 0.25em;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  height: 50%;
}
.uploader__icon:hover {
  background-color: #e6f7f0;
  cursor: pointer;
}
.disable {
  background-color: #dfe5f9;
}
